main {
  width: 90%;
  max-width: 1500px;
  margin: 190px auto;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.25;
}

h1, h2 {
  font-weight: normal;
}

.error {
  color: red;
  size: .9em;
}

a {
  cursor: pointer;
}

a:link {
  color: #69435b;
}
a:visited {
  color: #8d5a7a;
}
a:focus, a:hover {
  color: #9e0e69;
}

a:active {
  color: #436964;
}
