footer {
    background-color: #69435b;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #ebe8ea;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .85em;
}

footer p {
    margin: 0;
}

.footer-link:link,
.footer-link:visited,
.footer-link:focus,
.footer-link:hover,
.footer-link:active {
    color: #ebe8ea;
    cursor: pointer;
}



