.logo {
  font-size: 4em;
  letter-spacing: 3px;
  font-family: 'Londrina Shadow', cursive; 
  line-height: .9;
}
.logo:link,
.logo:visited,
.logo:focus,
.logo:hover,
.logo:active {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  padding: 2%;
  background-color: dimgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
}