.details-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    margin: 3% auto;
    width: 90%;
}

.details-subhead {
    border-bottom: 1px solid #ebe8ea;
    width: 100%;
    padding-bottom: 10px;
}

.details-copy {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}
  
.details-type {
    width: 100%;
    border-bottom: 1px solid #ebe8ea;
    margin-bottom: 2%;
}
  
.details-button {
    align-self: flex-end;
}

.details-thumbnail {
    border-radius: 3px;
    width: 100%;
} 

.details-img-a {
    width: 100%;
}
  
.details-info {
    width: 100%;
    margin-top: 0;
}

.pattern-stitch-links:link,
.pattern-stitch-links:visited,
.pattern-stitch-links:focus,
.pattern-stitch-links:hover,
.pattern-stitch-links:active {
    display: inline-block;
    
    width: 100%;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    
    .details-item {
        display: grid;
        grid-template-columns: minmax(50%, 50%); 
        grid-gap: 20px;
        margin-left: auto;
        margin-right: auto; 
        max-width: 1500px;
     }
  
    .details-subhead {
        grid-column: 1/3;
    }

    .details-type:first-child {
        margin-top: 0;
    }

    .details-copy {
        grid-column: 2/3;
    }
} 

  