.item-detail {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 3% auto;
}
  
.details-subheads {
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}
  
.button.details-button {
    align-self: flex-end;
}
  
.item-detail-notes {
    margin-top: 0;
}
  