
.landing-page {
    max-width: 1000px;
    margin: 0 auto;
}

.intro-copy {
    font-size: 1.5em;
    font-family: 'Crimson Text', serif;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 7% auto;
    max-width: 800px;
}

.landing-page-button {
    width: 40%;
}

.landing-page-button-div {
    display: flex;
    justify-content: center;
    margin: 7% 0;
}

.landing-page-subhead {
    margin: 2% 0;
    font-family: 'DM Serif Text', serif;
    font-family: 'Crimson Text', serif;
    font-size: 1.7em;
    letter-spacing: 1px;
}

.patterns-projects-preview { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%
}

.screen-shot {
    width: 75%;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 5px 5px 5px lightgrey;
}

.landing-page-li {
    padding: 5px 0;
}

.landing-page-section {
    background-color: #f2f3f3;
    border-radius: 3px;
    padding: 5px 20px;
    margin: 20px 0;
    font-size: 1em;
    line-height: 1.6;
}

.caption {
    font-size: .8em;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 750px) {
    .landing-page-section {
        display: flex;
    }

    .copy {
        width: 60%
    }

    patterns-projects-preview {
        width: 40%;
    }
}