.pattern-project-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5% auto;
    padding: 5%;
    border: 1px solid #ebe8ea;
    border-radius: 3px;
}

.thumbnail {
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.list-item-subhead {
    text-align: center;
    font-size: .9em;
    margin: 10% 0;
}

.list-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
} 
  
.list-button a:link,
.list-button a:visited,
.list-button a:focus,
.list-button a:hover,
.list-button a:active {
    color: #69435b;
    text-decoration: none;
    font-size: .9em;
}
  
.list-button {
    background-color:  #ebe8ea;
    border-radius: 3px;
    border: none;
    padding: 10px;
    margin: 0 10px;
    color: #69435b;
    width: 50%;
} 