.menu-button {
    position: relative;
    border-radius: 3px;
    background-color: #69435b;
    color: #ebe8ea;
    border: 1px solid #69435b;
    margin: 5px 5px 0 5px;
    padding: 5px 10px;
    width: 150px;
}

.caret-icon {
    margin-right: 10px;
    color: white;
}