.menu-button {
    position: relative;
    border-radius: 3px;
    background-color: #69435b;
    color: #ebe8ea;
    border: 1px solid #69435b;
    margin: 5px 5px 0 5px;
    padding: 5px 10px;
    width: 160px;
}

.nav-icon {
    margin-right: 10px;
    color: #ebe8ea;
}

.user {
    margin-right: 0;
    margin-left: 10px;
}