.search-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
    width: 80%;
    max-height: 50px;
    margin-bottom: 5%;
}

.search-label, .search-clear {
    flex: 5%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.search-input {
    flex: 60%;
    margin: 0 10px;
} 

.fa-search {
    color: #69435b;
    font-size: 1.5em;
}

@media only screen and (min-width: 750px) {
    .search-form {
        width: 50%;
        margin-bottom: 0;
    }
    
    .search-label, .search-clear {
        flex: 5%;
        display: flex;
        justify-content: flex-end;
    }

    .search-clear {
        justify-content: flex-start;
    }
    
    .search-input {
        flex: 60%;
        margin: 0 10px;
    } 

}